.ugene-app-menu-bar {
    height: 2em !important;
    min-height: 1.5em !important;
}

.ugene-app-root,
.ugene-app-react-spring,
.ugene-app
{
    border: none;
    padding: 0;
    height: 100%;
}

.ugene-app-content-container,
.ugene-tab-pane {
    border: none;
    padding: 0 !important;
    height: 100%;
}

.ugene-dropdown-item {
    /* height: 2em !important; */
    min-height: 1.5em !important;
    padding: 0.6em!important;
    min-width: 10em !important;
    /* width: 1em !important; */
}
